@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0070f3;
  --primary-dark: #0051a2;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.ring-primary {
  --tw-ring-color: var(--primary);
}

.hover\:bg-primary-dark:hover {
  background-color: var(--primary-dark);
} 